*a.out*
*.o
*core
*.txt
Webserv
.DS_Store
.vscode
compile_commands.json
.clangd
test/test_methods/GET/my_resp*
test/test42/put_test/file_should_exist_after
test/test42/delete_file
test/test42/YoupiBanane/youpla.bla
test/ubuntu_tester
test/ubuntu_cgi_tester
